.divContCards1{
    display: flex;
}
.divContCards2{
    display: flex;
}





.divGcard1, .divGcard2, .divGcard3, .divGcard4, .divGcard5, .divGcard6 {
    background-color: #ff8b64;
    width: 278px;   
    height: 235px;   
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
   }



   
.divGcard2{
    background-color: #56c2e6;
}
.divGcard3{
    background-color: #ff5e7d;
}
.divGcard4{
    background-color: #4bcf83;
}
.divGcard5{
    background-color: #7235d1;
}
.divGcard6{
    background-color: #f1c65b;
}


.section1 {
    display: flex;
    /* margin: 0 auto; */
    flex-direction: row;
    align-items: center;
    margin-top: 4%;
    margin-left: 6%;
}


.divGInSec1{
    margin-left: 22px;
}




.btnchangeDaily{
    /* color: #686ba7; */
    background-color: #686ba7;
}


.btnchangeDaily:hover{
    color: #fff;
}